In [1]:
spark

In [11]:
carDF = spark.read.csv("file:///C:/data/cars04.csv", header = True, inferSchema = True)
carDF.printSchema()

root
 |-- Brand: string (nullable = true)
 |-- Vehicle Name: string (nullable = true)
 |-- Hybrid: integer (nullable = true)
 |-- SuggestedRetailPrice: integer (nullable = true)
 |-- DealerCost: integer (nullable = true)
 |-- EngineSize: double (nullable = true)
 |-- Cylinders: integer (nullable = true)
 |-- Horsepower: integer (nullable = true)
 |-- CityMPG: integer (nullable = true)
 |-- HighwayMPG: integer (nullable = true)
 |-- Weight: integer (nullable = true)
 |-- WheelBase: integer (nullable = true)
 |-- Length: integer (nullable = true)
 |-- Width: integer (nullable = true)

In [9]:
type(carDF)

pyspark.sql.dataframe.DataFrame

In [7]:
carDF.describe()

DataFrame[summary: string, Brand: string, Vehicle Name: string, Hybrid: string, SuggestedRetailPrice: string, DealerCost: string, EngineSize: string, Cylinders: string, Horsepower: string, CityMPG: string, HighwayMPG: string, Weight: string, WheelBase: string, Length: string, Width: string]

In [10]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, BooleanType

In [12]:
carDF.count()

234

In [13]:
carDF.rdd.getNumPartitions()

1

In [14]:
carDF.columns

['Brand',
 'Vehicle Name',
 'Hybrid',
 'SuggestedRetailPrice',
 'DealerCost',
 'EngineSize',
 'Cylinders',
 'Horsepower',
 'CityMPG',
 'HighwayMPG',
 'Weight',
 'WheelBase',
 'Length',
 'Width']

In [19]:
#carDF.select('Vehicle Name').distinct().show(5)
carDF.select('Vehicle Name').distinct().show(5, False)

+--------------------------+
|Vehicle Name              |
+--------------------------+
|Jaguar S-Type 4.2 4dr     |
|Toyota Corolla S 4dr      |
|Lincoln LS V8 Ultimate 4dr|
|Mini Cooper               |
|Buick Park Avenue 4dr     |
+--------------------------+
only showing top 5 rows

In [21]:
carDF.select('Hybrid').groupBy('Hybrid').count().show()

+------+-----+
|Hybrid|count|
+------+-----+
|     1|    3|
|     0|  231|
+------+-----+

In [22]:
ChicagoCrimeDF = spark.read.csv("file:///C:/data/ChicagoChrime.csv", header = True, inferSchema = True)

In [23]:
ChicagoCrimeDF.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Block: string (nullable = true)
 |-- Primary Type: string (nullable = true)
 |-- Location Description: string (nullable = true)
 |-- Arrest: boolean (nullable = true)
 |-- Domestic: boolean (nullable = true)
 |-- District: integer (nullable = true)
 |-- Ward: integer (nullable = true)
 |-- Community Area: integer (nullable = true)
 |-- FBI Code: string (nullable = true)
 |-- Updated On: string (nullable = true)

In [26]:
ChicagoCrimeDF.limit(5).show()

+--------+--------------+--------------------+------------------+--------------------+------+--------+--------+----+--------------+--------+----------------+
|      ID|          Date|               Block|      Primary Type|Location Description|Arrest|Domestic|District|Ward|Community Area|FBI Code|      Updated On|
+--------+--------------+--------------------+------------------+--------------------+------+--------+--------+----+--------------+--------+----------------+
|11139728|10/1/2017 0:01|061XX S MAYFIELD AVE|DECEPTIVE PRACTICE|           RESIDENCE| false|   false|       8|  13|            64|      11| 11/6/2017 15:50|
|11132491|10/1/2017 0:01|     046XX W ERIE ST|DECEPTIVE PRACTICE|           RESIDENCE| false|   false|      11|  28|            25|      11|10/30/2017 15:53|
|11125323|10/1/2017 0:01|  061XX W ADDISON ST|DECEPTIVE PRACTICE|           RESIDENCE| false|   false|      16|  38|            17|      11|10/23/2017 15:50|
|11114359|10/1/2017 0:01| 006XX N LARAMIE AVE|             THEFT|           RESIDENCE| false|    true|      15|  28|            25|       6|10/12/2017 15:46|
|11105352|10/1/2017 0:01|032XX S CARPENTER ST|   CRIMINAL DAMAGE|    RESIDENCE-GARAGE| false|   false|       9|  11|            60|      14| 10/8/2017 15:49|
+--------+--------------+--------------------+------------------+--------------------+------+--------+--------+----+--------------+--------+----------------+

In [31]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, BooleanType

In [27]:
ChicagoCrimeSchema = StructType([StructField('ID', IntegerType(), True),
                     StructField('Date', StringType(), True),
                     StructField('Block', StringType(), True),
                     StructField('PrimaryType', StringType(), True),                  
                     StructField('LocationDescription', StringType(), True),       
                     StructField('Arrest', BooleanType(), True),       
                     StructField('Domestic', BooleanType(), True),       
                     StructField('District', IntegerType(), True),       
                     StructField('Ward', IntegerType(), True),       
                     StructField('CommunityArea', StringType(), True),       
                     StructField('FBICode', StringType(), True),       
                     StructField('UpdatedOn', StringType(), True)])

In [65]:
ChicagoCrimeDF = spark.read.csv("file:///C:/data/ChicagoChrime.csv", header = True, schema = ChicagoCrimeSchema)

In [66]:
ChicagoCrimeDF.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Block: string (nullable = true)
 |-- PrimaryType: string (nullable = true)
 |-- LocationDescription: string (nullable = true)
 |-- Arrest: boolean (nullable = true)
 |-- Domestic: boolean (nullable = true)
 |-- District: integer (nullable = true)
 |-- Ward: integer (nullable = true)
 |-- CommunityArea: string (nullable = true)
 |-- FBICode: string (nullable = true)
 |-- UpdatedOn: string (nullable = true)

In [37]:
ChicagoCrimeDF.select('PrimaryType').groupBy('PrimaryType').count().orderBy("count", ascending=False).show()

+--------------------+-----+
|         PrimaryType|count|
+--------------------+-----+
|               THEFT|13517|
|             BATTERY| 9741|
|     CRIMINAL DAMAGE| 5874|
|             ASSAULT| 3757|
|  DECEPTIVE PRACTICE| 3321|
|       OTHER OFFENSE| 3142|
|             ROBBERY| 2769|
|            BURGLARY| 2735|
| MOTOR VEHICLE THEFT| 2485|
|           NARCOTICS| 1953|
|   CRIMINAL TRESPASS| 1378|
|   WEAPONS VIOLATION|  887|
|OFFENSE INVOLVING...|  437|
| CRIM SEXUAL ASSAULT|  304|
|PUBLIC PEACE VIOL...|  280|
|INTERFERENCE WITH...|  198|
|         SEX OFFENSE|  177|
|        PROSTITUTION|  122|
|            HOMICIDE|  113|
|               ARSON|   93|
+--------------------+-----+
only showing top 20 rows

In [67]:
from pyspark.sql.functions import *

In [100]:
from_pattern1 = 'MM/dd/yyyy'

from_pattern2 = 'MM/dd/yyyy hh:mm:ss'

ChicagoCrimeDF1= ChicagoCrimeDF.withColumn('IncidentDate', unix_timestamp(ChicagoCrimeDF['Date'], from_pattern1).cast("timestamp")).withColumn('UpdatedOnTS', unix_timestamp(ChicagoCrimeDF['UpdatedOn'], from_pattern1).cast("timestamp"))#.drop('UpdatedOnTS') 
                 
  #.withColumn('UpdatedOnTS', unix_timestamp(ChicagoCrimeDF['UpdatedOn'], from_pattern2).cast("timestamp")) \
  #.drop('WatchDate') \

In [120]:
ChicagoCrimeDF1.printSchema() #select('IncidentDate').show()

root
 |-- ID: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Block: string (nullable = true)
 |-- PrimaryType: string (nullable = true)
 |-- LocationDescription: string (nullable = true)
 |-- Arrest: boolean (nullable = true)
 |-- Domestic: boolean (nullable = true)
 |-- District: integer (nullable = true)
 |-- Ward: integer (nullable = true)
 |-- CommunityArea: string (nullable = true)
 |-- FBICode: string (nullable = true)
 |-- UpdatedOn: string (nullable = true)
 |-- IncidentDate: timestamp (nullable = true)
 |-- UpdatedOnTS: timestamp (nullable = true)

In [116]:
import calendar

#ChicagoCrimeDF1.select(calendar.month_name[month('UpdatedOnTS')]).show()
ChicagoCrimeDF1.select(month('UpdatedOnTS')).show()

+------------------+
|month(UpdatedOnTS)|
+------------------+
|                11|
|                10|
|                10|
|                10|
|                10|
|                10|
|                10|
|                10|
|                10|
|                10|
|                10|
|                12|
|                10|
|                10|
|                10|
|                10|
|                10|
|                10|
|                10|
|                10|
+------------------+
only showing top 20 rows

In [107]:
import calendar
list(calendar.month_name)

['',
 'January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

In [126]:
ChicagoCrimeDF1.select(month('UpdatedOnTS')).groupBy('month(UpdatedOnTS)').count().show()

+------------------+-----+
|month(UpdatedOnTS)|count|
+------------------+-----+
|                12|16213|
|                10|16368|
|                11|20894|
+------------------+-----+

In [127]:
ChicagoCrimeDF1.rdd.getNumPartitions()

2

In [128]:
ChicagoCrimeDF1.repartition(6).createOrReplaceTempView("ChicagoCrimeView")

In [129]:
spark.catalog.cacheTable("ChicagoCrimeView")

In [130]:
spark.table("ChicagoCrimeView").count()

53475

In [132]:
spark.catalog.isCached("ChicagoCrimeView")

True

In [133]:
ChicagoCrimeDF1.write.format('parquet').save('file:///C:/data/ChicagoCrimeDFParquet/')

In [134]:
ChicagoCrimeDF1.write.format('json').save('file:///C:/data/ChicagoCrimeDFJSON/')

In [137]:
spark.sql("select count(1) from ChicagoCrimeView").show()

+--------+
|count(1)|
+--------+
|   53475|
+--------+

In [141]:
spark.sql("select count(*) as cnt, PrimaryType from ChicagoCrimeView group by PrimaryType order by cnt desc").show(10,False)

+-----+-------------------+
|cnt  |PrimaryType        |
+-----+-------------------+
|13517|THEFT              |
|9741 |BATTERY            |
|5874 |CRIMINAL DAMAGE    |
|3757 |ASSAULT            |
|3321 |DECEPTIVE PRACTICE |
|3142 |OTHER OFFENSE      |
|2769 |ROBBERY            |
|2735 |BURGLARY           |
|2485 |MOTOR VEHICLE THEFT|
|1953 |NARCOTICS          |
+-----+-------------------+
only showing top 10 rows

In [143]:
spark.sql("select District, PrimaryType, UpdatedOnTS from ChicagoCrimeView where District = '20' order by UpdatedOnTS desc").show(10,False)

+--------+------------------+-------------------+
|District|PrimaryType       |UpdatedOnTS        |
+--------+------------------+-------------------+
|20      |THEFT             |2017-12-22 00:00:00|
|20      |OTHER OFFENSE     |2017-12-22 00:00:00|
|20      |DECEPTIVE PRACTICE|2017-12-22 00:00:00|
|20      |BATTERY           |2017-12-22 00:00:00|
|20      |ASSAULT           |2017-12-22 00:00:00|
|20      |BURGLARY          |2017-12-22 00:00:00|
|20      |NARCOTICS         |2017-12-22 00:00:00|
|20      |THEFT             |2017-12-22 00:00:00|
|20      |THEFT             |2017-12-22 00:00:00|
|20      |THEFT             |2017-12-22 00:00:00|
+--------+------------------+-------------------+
only showing top 10 rows

In [147]:
ChicagoCrimeTSDF = spark.read.csv("file:///C:/data/ChicagoChrime_TS.csv", header = True, schema = ChicagoCrimeSchema)

In [148]:
ChicagoCrimeTSDF.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Block: string (nullable = true)
 |-- PrimaryType: string (nullable = true)
 |-- LocationDescription: string (nullable = true)
 |-- Arrest: boolean (nullable = true)
 |-- Domestic: boolean (nullable = true)
 |-- District: integer (nullable = true)
 |-- Ward: integer (nullable = true)
 |-- CommunityArea: string (nullable = true)
 |-- FBICode: string (nullable = true)
 |-- UpdatedOn: string (nullable = true)

In [155]:
from_pattern1 = 'MM/dd/yyyy'

from_pattern2 = 'MM/dd/yyyy hh:mm:ss aa'

ChicagoCrimeTSDF1= ChicagoCrimeTSDF.withColumn('UpdatedOnTS', unix_timestamp(ChicagoCrimeTSDF['UpdatedOn'], from_pattern2).cast("timestamp"))
                 
  #.withColumn('UpdatedOnTS', unix_timestamp(ChicagoCrimeDF['UpdatedOn'], from_pattern2).cast("timestamp")) \
  #.drop('WatchDate') \

In [156]:
ChicagoCrimeTSDF1.repartition(6).createOrReplaceTempView("ChicagoCrimeTSDFView")

In [161]:
spark.sql("select * from (select District, PrimaryType, UpdatedOnTS, row_number() over(partition by District order by UpdatedOnTS desc ) as rank1 from ChicagoCrimeTSDFView ) as tempview where rank1 < 4").show(10,False)

+--------+-------------------+-------------------+-----+
|District|PrimaryType        |UpdatedOnTS        |rank1|
+--------+-------------------+-------------------+-----+
|12      |CRIM SEXUAL ASSAULT|2017-12-22 15:49:00|1    |
|12      |DECEPTIVE PRACTICE |2017-12-22 15:49:00|2    |
|12      |THEFT              |2017-12-22 15:49:00|3    |
|22      |BATTERY            |2017-12-22 15:49:00|1    |
|22      |THEFT              |2017-12-22 15:49:00|2    |
|22      |THEFT              |2017-12-22 15:49:00|3    |
|1       |THEFT              |2017-12-22 15:49:00|1    |
|1       |THEFT              |2017-12-22 15:49:00|2    |
|1       |BATTERY            |2017-12-22 15:49:00|3    |
|6       |CRIMINAL DAMAGE    |2017-12-22 15:49:00|1    |
+--------+-------------------+-------------------+-----+
only showing top 10 rows